HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


# React / Node
odontologia/frontend/node_modules/
odontologia/frontend/build/
odontologia/frontend/.env
odontologia/frontend/.env.local
odontologia/frontend/.env.development.local
odontologia/frontend/.env.test.local
odontologia/frontend/.env.production.local
